.data-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add spacing between sections */
  height: 100%;
  overflow-y: auto; /* Prevent overflow and allow scrolling */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-wrapper {
  overflow-x: auto; /* Allow horizontal scrolling if the table overflows */
}

table {
  width: 100%;
  border-collapse: collapse;
}

mat-paginator {
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 1 calc(25% - 16px); /* Adjust width and margin */
  max-width: 250px;
}
