/* styles.css o en el componente .scss */
.container {
    padding: 20px; /* Añade espacio dentro del contenedor */
    margin: 20px; /* Añade espacio en los bordes del contenedor */
  }
  
  table {
    width: 100%; /* Asegura que la tabla ocupe todo el espacio disponible */
    margin-bottom: 20px; /* Añade espaciado en la parte inferior de la tabla */
  }
  
  mat-paginator {
    margin-top: 20px; /* Añade espacio arriba del paginador */
  }
  