<div class="container">
  <!-- Botón para abrir el modal -->
  <button mat-raised-button color="primary" (click)="openAddCarDialog()">Add new entry</button>


<div>
  <h3>Show/Hide</h3>
  <mat-checkbox *ngFor="let column of allColumns" 
                [checked]="columnVisibility[column]" 
                (change)="toggleColumnVisibility(column)">
    {{ column }}
  </mat-checkbox>
</div>

<!-- Tabla -->
<table mat-table [dataSource]="dataSource">
  <!-- Definir las columnas dinámicamente -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
    <td mat-cell *matCellDef="let element">
      <!-- Si la columna es "photo", mostrar la imagen -->
      <ng-container *ngIf="column === 'photo'">
        <img [src]="element[column] || 'https://via.placeholder.com/150'" alt="Car Photo" width="50"/>
      </ng-container>
      <!-- Si no es "photo", mostrar el valor del campo -->
      <ng-container *ngIf="column !== 'photo'">
        {{ element[column] }}
      </ng-container>
    </td>
  </ng-container>

  <!-- Fila de encabezado -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- Fila de datos -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Paginación -->
<mat-paginator [length]="dataSource.data.length" [pageSize]="10" showFirstLastButtons></mat-paginator>

</div>