<div class="container">
  <div class="header-container">
    <h1>Collection Management</h1>
    <div class="button-group">
      <!-- Button to open modal -->
      <button mat-raised-button color="primary" (click)="openAddCarDialog()">Add new entry</button>
  
      <!-- Button to toggle view -->
      <button mat-raised-button color="accent" (click)="toggleViewMode()">Change to Card View</button>
    </div>
  </div>


  <!-- Show/Hide Columns -->
<!-- Show/Hide Columns -->
<div *ngIf="viewMode === 'table'">
  <h3>Show/Hide Columns</h3>
  <mat-checkbox *ngFor="let column of allColumns" 
                [checked]="columnVisibility[column]" 
                (change)="toggleColumnVisibility(column)">
    {{ columnDisplayNames[column] }}
  </mat-checkbox>
</div>


  <!-- Table View -->
  <table *ngIf="viewMode === 'table'" mat-table [dataSource]="dataSource">

    <!-- Define dynamic columns -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ columnDisplayNames[column] }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'photo'">
          <img [src]="element[column] || 'https://via.placeholder.com/150'" alt="Car Photo" width="50" />
        </ng-container>
        <ng-container *ngIf="column !== 'photo'">
          {{ element[column] }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Card View -->
  <div *ngIf="viewMode === 'card'" class="card-container">
    <div class="card" *ngFor="let car of dataSource.data">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ car.name }}</mat-card-title>
          <mat-card-subtitle>{{ car.brand }} - {{ car.manufacturer?.name }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <img *ngIf="car.photo" [src]="car.photo" alt="Car Photo" width="100%" height="auto">
          <p>{{ car.year }}</p>
          <p>{{car.series.name}}</p>
          <p>{{ car.annotation }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Paginator for Table View -->
  <mat-paginator *ngIf="viewMode === 'table'" 
                 [length]="dataSource.data.length" 
                 [pageSize]="10" 
                 showFirstLastButtons>
  </mat-paginator>
</div>
