.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f5f5f5; /* Opcional: color de fondo */
  }
  
  mat-card {
    width: 400px; /* Tamaño fijo para el formulario */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para mejor visibilidad */
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco */
  }
  
  mat-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .add-entry-btn {
    background-color: #6200ea; /* Color primario */
    color: white; /* Texto en blanco */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    padding: 8px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes ligeramente redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para efecto 3D */
  }
  
  .add-entry-btn:hover {
    background-color: #3700b3; /* Color más oscuro al pasar el cursor */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
  }
  
  .add-entry-btn:active {
    transform: scale(0.95); /* Botón ligeramente más pequeño al presionarlo */
  }
  
  